.aboutSectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  padding-left: 50px;
  padding-top: 15px;
  line-height: 1.25;
  align-items: center;

}

.aboutH2 {
  font-size: 25px;
  font-weight: 700;
}

.aboutP {
  flex-wrap: wrap;
  font-size: 17px;
}

.EditAboutSectionForm {
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}


.inputTextAbout {
  height: 450px;
  width: 470px;
  padding: 10px;
  flex-wrap: wrap;
  font-size: 17px;
  /* background-color: #57CC99; */
  border-radius: 10px;
  border-color: #22577a;
  border-width: 3px;
}

.EditAboutHeader {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-content: center;
  padding-bottom: 10px;

}

.saveButton {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #80ED99;
  border-radius: 30px;
  text-shadow: none;
  border-width: 0;
  /* width: 170px; */
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 600;
}