.editPhotosButton {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #80ED99;
  border-radius: 30px;
  text-shadow: none;
  border-width: 0;
  /* width: 170px; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #000;
}

.editPhotosButton:hover {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #80ED99;
  border-radius: 30px;
  text-shadow: none;
  border-width: 0;
  /* width: 170px; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #000;
}

.editPhotosLiContainer {
display: flex; 
  flex-direction: row;
  align-items: center;
  color: #000;
  font-size: 17px;
  column-gap: 10px;
  /* row-gap: 10px; */
}

.xDeleteLI {
  font-size: 15px;
  padding-right: 13px;
  color: #000;
  background-color: transparent;
  border: none;
}