.uploadButton {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #80ED99;
  border-radius: 30px;
  text-shadow: none;
  border-width: 0;
  /* width: 170px; */
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 600;
}

#file-upload-button {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #80ED99;
  border-radius: 30px;
  text-shadow: none;
  border-width: 0;
  /* width: 170px; */
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.uploadH3 {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-weight: 600;

}

.uploadH4 {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-weight: 600;
  padding: 15px;
}

.uploadInput {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.uploadP {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}