.plantsGrowingContainer {
  display: flex;
  flex-direction: column;
  width: 500px;
/* justify-content: center; */
/* align-content: right; */
}

.plantsGrowingContainerH2 {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
}

.plantsGrowingLiContainer {
  display: flex; 
  flex-direction: row;
  align-items: center;
  color: #fff;
  font-size: 17px;

}

.plantsGrowingIconImage {
  height: 30px;
  padding-right: 10px;
}

.roundCircleLi {
  font-size: 10px;
  padding-right: 13px;
  color: #000;
}
.editPlantsHeader {
display: flex;
  flex-direction: row;
  column-gap: 20px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.editPlantsButton {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #80ED99;
  border-radius: 30px;
  text-shadow: none;
  border-width: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 600;
  /* width: fit-content; */
}

.xDeleteLI {
  font-size: 15px;
  padding-right: 13px;
  color: #000;
  background-color: transparent;
  border: none;
}

.addNewPlantDivContainer {
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  /* justify-content: center; */
}