.profilePageContainer {
  display: flex;
  flex-direction: column;  
  /* justify-content: center; */
  align-items: center;
}

.aboutSectionIndexContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}