.profilePageContainer {
  display: flex;
  flex-direction: column;  
  /* justify-content: center; */
  align-items: center;
  /* background-color: black; */
}

.aboutSectionIndexContainer {
  display: flex;
  flex-direction: row;
  /* background-color: aliceblue; */
  /* width: 70%; */
  /* justify-content: space-evenly; */
  /* align-items: top; */
  /* justify-items: space-evenly; */
}

.loadingContainer{
  position: fixed;
  /* min-height: 1000px; */
  top: 50%;
  left:50%;
  transform: translate(-50%,50%);
}

.homeButton {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #80ED99;
  border-radius: 30px;
  text-shadow: none;
  border-width: 0;
  /* width: 170px; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}