.profilePageContainer {
  display: flex;
  flex-direction: column;  
  /* justify-content: center; */
  align-items: center;
  /* padding-bottom: 15px; */
  /* background-color: black; */
}

.topSpacer {
  height: 15px;
}

.aboutSectionIndexContainer {
  display: flex;
  flex-direction: row;
  /* background-color: #57cc99; */
  background-color: #fff;

  padding: 20px;
  padding-right: 30px;
  /* color: #000; */
  /* background-color: #c7f9cc; */

  /* width: 70%; */
  /* justify-content: space-evenly; */
  /* align-items: top; */
  /* justify-items: space-evenly; */
}

.loadingContainer{
  position: fixed;
  /* min-height: 1000px; */
  top: 50%;
  left:50%;
  transform: translate(-50%,50%);
}
.bottomSpacer{
  height: 25px;
}

.homeButton {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #80ED99;
  border-radius: 30px;
  text-shadow: none;
  border-width: 0;
  /* width: 170px; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}


@media screen and (min-width: 675px) and (max-width: 1110px) { 


  .aboutSectionIndexContainer {
    display: flex;
    flex-direction: row;
    /* background-color: #57cc99; */
    background-color: #fff;
  
    padding: 20px;
    padding-right: 30px;
    /* color: #000; */
    /* background-color: #c7f9cc; */
  
    width: 80%;
    /* justify-content: space-evenly; */
    /* align-items: top; */
    /* justify-items: space-evenly; */
  }

  .homeButton {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #80ED99;
    border-radius: 30px;
    text-shadow: none;
    border-width: 0;
    /* width: 170px; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    /* justify-content: center;
    align-self: center;
    align-items: center;
    justify-self: center;
    justify-items: center;
    text-align: center; */
  }



}


@media screen and (min-width: 676px) and (max-width: 859.99px) { 

  .aboutSectionIndexContainer {
    display: flex;
    flex-direction: column;
    /* background-color: #57cc99; */
    background-color: #fff;
  
    /* padding: 20px; */
    /* justify-content: center; */
    /* align-content: center; */
    /* text-align: center; */
    /* padding-right: 30px; */

    /* color: #000; */
    /* background-color: #c7f9cc; */
  
    width: 80%;
    /* justify-content: center;
    justify-items: center;
    align-content: center; */
    align-items: center;
    /* justify-content: space-evenly; */
    /* align-items: top; */
    /* justify-items: space-evenly; */
  }
}

@media screen and (max-width: 675.99px) { 

  .profilePageContainer {
    display: flex;
    flex-direction: column;  
    /* justify-content: center; */
    align-items: center;
    width:auto;
    /* padding-bottom: 15px; */
    /* background-color: black; */
  }

  .aboutSectionIndexContainer {
    display: flex;
    flex-direction: column;
    /* background-color: #57cc99; */
    background-color: #fff;
  
    /* padding: 20px; */
    /* justify-content: center; */
    /* align-content: center; */
    /* text-align: center; */
    /* padding-right: 30px; */

    /* color: #000; */
    /* background-color: #c7f9cc; */
  
    width: 80%;
    /* justify-content: center;
    justify-items: center;
    align-content: center; */
    align-items: center;
    /* justify-content: space-evenly; */
    /* align-items: top; */
    /* justify-items: space-evenly; */
  }

  .homeButton {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #80ED99;
    border-radius: 30px;
    text-shadow: none;
    border-width: 0;
    /* width: 170px; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
     justify-content: center; 
    align-self: center;
    align-items: center;
    justify-self: center;
    justify-items: center;
    text-align: center;
  }

}