.shareSectionContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #fff;
  justify-content: left;
  align-content: left;
  width: 1000px;
}

.iconShareContainer img {
  height: 35px;
  padding: 5px;
}

.linkButton {
  background-color: transparent;
  border: none;
}