.tipsSectionContainer {
  display: flex;
  flex-direction: column;
  width: 1000px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  padding: 40px;
  text-align: left;
  justify-content: center;
}

.tipsSectionContainer h2 {
  font-size: 25px;
}

.tipsSectionContainer p {
  flex-wrap: wrap;
  font-size: 17px;
}