.tipsSectionContainer {
  display: flex;
  flex-direction: column;
  width: 1000px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  padding: 40px;
  text-align: left;
  justify-content: center;
  /* align-items: center; */
}

.tipsSectionContainerH2 {
  font-size: 25px;
  font-weight: 700;
}

.tipsSectionContainer p {
  flex-wrap: wrap;
  font-size: 17px;
}

.editTipsHeader {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-content: center;
  padding-bottom: 20px;
  align-items: baseline;

}

.tipsButton {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #80ED99;
  border-radius: 30px;
  text-shadow: none;
  border-width: 0;
  /* width: 170px; */
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 600;
  width: fit-content;
}

.addTipsButton {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
  background-color: #80ED99;
  border-radius: 30px;
  text-shadow: none;
  border-width: 0;
  /* width: 170px; */
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 600;
  width: fit-content;
}

.inputTextTips {
  height: 150px;
  width: 100%;
  padding: 10px;
  flex-wrap: wrap;
  font-size: 17px;
  /* background-color: #57CC99; */
  border-radius: 10px;
  border-color: #22577a;
  border-width: 3px;
}

.EditTipsSectionForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.editButtonRow {
  display: flex;
  column-gap: 10px;
  /* row-gap: 10px; */
  justify-content: left;
  /* align-content: flex-start; */
  /* text-align: left; */
}

.editButtonColumn {
  display: flex;
  /* flex-direction: column; */
  row-gap: 10px;
}

.addNewTipsSectionForm {
  padding-top: 10px;
}

@media screen and  (max-width: 1110px) { 

  .tipsSectionContainer {
    display: flex;
    flex-direction: column;
    /* width: 1000px; */
    width: 90%;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    padding: 40px;
    text-align: left;
    justify-content: center;
    /* align-items: center; */
  }
  
  .tipsSectionContainerH2 {
    font-size: 20px;
    font-weight: 700;
  }
  
  .tipsSectionContainer p {
    flex-wrap: wrap;
    font-size: 16px;
  }
  
  .editTipsHeader {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-content: center;
    padding-bottom: 20px;
    align-items: baseline;
  
  }
  
  .tipsButton {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #80ED99;
    border-radius: 30px;
    text-shadow: none;
    border-width: 0;
    /* width: 170px; */
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
    width: fit-content;
  }
  
  .addTipsButton {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
    background-color: #80ED99;
    border-radius: 30px;
    text-shadow: none;
    border-width: 0;
    /* width: 170px; */
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
    width: fit-content;
  }
  
  .inputTextTips {
    height: 150px;
    width: 100%;
    padding: 10px;
    flex-wrap: wrap;
    font-size: 17px;
    /* background-color: #57CC99; */
    border-radius: 10px;
    border-color: #22577a;
    border-width: 3px;
  }
  
  .EditTipsSectionForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
  
  .editButtonRow {
    display: flex;
    column-gap: 10px;
    /* row-gap: 10px; */
    justify-content: left;
    /* align-content: flex-start; */
    /* text-align: left; */
  }
  
  .editButtonColumn {
    display: flex;
    /* flex-direction: column; */
    row-gap: 10px;
  }
  
  .addNewTipsSectionForm {
    padding-top: 10px;
  }


}