.gardenSectionOneContainer {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  column-gap: 20px;
  row-gap: 20px;
  /* justify-content: center; */
}

.sec1row1 {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-content: center;
  column-gap: 2px;
}

.sec1row2 {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-content: right;
  column-gap: 55px;
  padding-right: 30px;
  padding-top: 15px;
}

.sec1row3 {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-content: center;
  column-gap: 20px;
}

.sec1row4 {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-content: center;
  column-gap: 30px;
}

.sec1row5 {
  display: flex;
  flex-direction: row;
  justify-content: right;
  column-gap: 110px;
}
.sec1row5col1 {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}

.sec1row6 {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
}

.sec1row6col1 {
  display: flex;
  flex-direction: column;
}

.sec1row6col1row {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.sec1row6col2 {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.sec1row6col2row {
  display: flex;
  flex-direction: row;
  justify-content: left;
  row-gap: 15px;
  column-gap: 15px;
}