.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  padding-left: 100px;
  padding-right: 100px;
}

.logoContainer img {
  height: 90px;
}

.buttonContainer {
  align-self: center;
}

/* .buttonContainer button {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #80ED99;
  border-radius: 30px;
  text-shadow: none;
  border-width: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
} */

.headerButton {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #80ED99;
  color: #000;
  border-radius: 30px;
  text-shadow: none;
  border-width: 0;
  /* width: 170px; */
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 600;
  width: fit-content;
  
}
.headerButton:hover {
  background-color: #22577a;
  color: #fff;
}
.offCanvasContainer {
  font-family: 'Montserrat', sans-serif;
  background-color: #57cc99;
}

.offCanvasContainerBody {
  width: 95%;
  padding-top: 40px;
}

.offCanvasH2 {
  font-size: 30px;
  font-weight: 700;
}

.loginFormContainer {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

.formLabel {
  font-size: 22px;
  font-weight: 600;
}

/* .inputText:focus {
  border-color: #22577a;
} */


.inputText {
  /* border-radius: 10px; */
  height: 35px;
  border-color: #22577a;
  border-width: 1.5px;
}

.headerButtonLogin {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #22577a;
  color: #fff;
  border-radius: 30px;
  text-shadow: none;
  border-width: 0;
  /* width: 170px; */
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 600;
  width: fit-content;
}