.mediumPlotElementContainer {
  display: flex;
  /* padding: 20px; */
  flex-direction: column;
}

.mediumPlotElement {
  background-image: url("../images/Large_plot_updated horizontal.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100px;
  width: 150px;
  background-position: center;
  justify-content: center;
  align-content: center;
  /* -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1); */
}

.iconElement {
  padding-top: 50px;
  justify-content: center;
}