.mediumPlotElementContainer {
  display: flex;
  /* padding: 20px; */
  flex-direction: column;
}

.mediumPlotElement {
  background-image: url("../images/Large_plot_updated.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100px;
  width: 50px;
  background-position: center;
  justify-content: center;
  align-content: center;
}

.iconElement {
  padding-top: 100px;
  justify-content: center;
}