.App {
  text-align: center;
  background-color: #38A3A5;
  height: fit-content;
  /* width: fit-content; */
  /* width: 100%; */
  /* width: 140vw; */
}

@media screen and (min-width: 675px) and (max-width: 950px) { 
  .App {
    text-align: center;
    background-color: #38A3A5;
    height: fit-content;
  /* height: 140vh; */

    width: 100%;
    /* width: 100%; */
    /* width: 140vw; */
  }
}


@media screen and (max-width: 674.99px) {

.App {
  text-align: center;
  background-color: #38A3A5;
  height: fit-content;
  /* height: 1600px; */

  width: fit-content;
  /* width: auto; */
  /* width: 140vw; */
  width: 674.99px;
}

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


