.bottomPathVerticalContainer {
  display: flex;
  /* padding: 20px; */
  flex-direction: column;
  /* align-content: center; */
  /* align-self: center; */
  /* justify-content: center; */
  margin-left: 470px;
}

.bottomPathVertical {
  display: flex;
  background-image: url("../../images/Bottom-path-vertical-updated.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
  width: 150px;
  background-position: center;
  justify-content: center;
  align-self: flex-end;

}