.circleBlockerContainer {
  display: flex;
  /* padding: 20px; */
  flex-direction: column;
}

.circleBlocker {
  display: flex;
  background-image: url("../../images/Circle_blocker.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  background-position: center;
  justify-content: center;
  align-self: center;

}
