.section3Container {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  justify-content: center;
  column-gap: 20px;
  width: 50%;
  /* margin-left: -100px;
   */
   /* padding-right: 60px; */
   margin-right: 350px;
}

.sec3Column {
  display: flex;
  /* padding: 20px; */
  /* column-gap: 300px; */
}

.sec3row {
display: flex;
flex-direction: column;
row-gap: 20px;
}

.sec3row4 {
  display: flex;
flex-direction: column;
row-gap: 2px;
}

