.LargePlotElementContainer {
  display: flex;
  /* padding: 20px; */
  flex-direction: column;
}

.LargePlotElement {
  background-image: url("../../images/dirtLarge.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 180px;
  width: 90px;
  background-position: center;
  justify-content: center;
  align-content: center;
}

.iconElement {
  padding-top: 50px;
  padding-left: 23px;
  /* justify-content: center; */
  /* align-content: center; */
  width: 40px;
 }
 
 .iconImage {
   height: 20px;
 }