.pathHorizontalContainer {
  display: flex;
  /* padding: 20px; */
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
}

.pathHorizontal {
  display: flex;
  /* display: show; */
  background-image: url("../../images/Path_horizontal.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  width: 650px;
  background-position: center;
  justify-content: center;
  align-self: flex-end;

}


@media screen and (max-width: 674.99px) { 

  .pathHorizontalContainer {
    display: flex;
    /* padding: 20px; */
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
  }


  .pathHorizontal {
    display: flex;
    background-image: url("../../images/Path_horizontal.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 550px;
    background-position: center;
    justify-content: center;
    align-self: flex-end;
  
  }
}